version: "3.9"

services:
    setup:
        profiles:
            - setup
        image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
        entrypoint: /setup/entrypoint.sh
        # command: ["./setup/entrypoint.sh"]
        init: true
        volumes:
            - ./setup/entrypoint.sh:/entrypoint.sh:ro,Z
            - ./setup/lib.sh:/lib.sh:ro,Z
            - ./setup/roles:/roles:ro,Z
        environment:
            # ELASTIC_USERNAME: elastic01
            ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
            LOGSTASH_INTERNAL_PASSWORD: ${LOGSTASH_INTERNAL_PASSWORD}
            KIBANA_SYSTEM_PASSWORD: ${KIBANA_SYSTEM_PASSWORD}
            METRICBEAT_INTERNAL_PASSWORD: ${METRICBEAT_INTERNAL_PASSWORD}
            FILEBEAT_INTERNAL_PASSWORD: ${FILEBEAT_INTERNAL_PASSWORD}
            HEARTBEAT_INTERNAL_PASSWORD: ${HEARTBEAT_INTERNAL_PASSWORD}
            MONITORING_INTERNAL_PASSWORD: ${MONITORING_INTERNAL_PASSWORD}
            BEATS_SYSTEM_PASSWORD: ${BEATS_SYSTEM_PASSWORD}
        networks:
            - tester
            # - elastic-network
        depends_on:
            - elasticsearch

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
        platform: linux/amd64
        volumes:
            - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro,Z
            - ./elasticsearch/data:/usr/share/elasticsearch/data:Z
        ports:
            - 9200:9200
            - 9300:9300
        environment:
            node.name: elasticsearch
            ES_JAVA_OPTS: -Xms512m -Xmx512m
            discovery.type: single-node
            # ELASTIC_USERNAME: elastic01
            ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
        networks:
            - tester
            # - elastic-network
        restart: unless-stopped

    logstash:
        image: docker.elastic.co/logstash/logstash:${ELASTIC_VERSION}
        platform: linux/amd64
        volumes:
            - ./logstash/logstash.yml:/usr/share/logstash/config/logstash.yml:ro,Z
            - ./logstash/pipeline:/usr/share/logstash/pipeline:ro,Z
        # command: logstash -f /pipeline/logstash.conf
        ports:
            - 5044:5044
            - 50000:50000/tcp
            - 50000:50000/udp
            - 9600:9600
        environment:
            LS_JAVA_OPTS: -Xms256m -Xmx256m
            LOGSTASH_USERNAME: logstash_internal
            LOGSTASH_INTERNAL_PASSWORD: ${LOGSTASH_INTERNAL_PASSWORD}
        networks:
            - tester
            # - elastic-network
        depends_on:
            - elasticsearch
        restart: unless-stopped

    kibana:
        image: docker.elastic.co/kibana/kibana:${ELASTIC_VERSION}
        platform: linux/amd64
        volumes:
            - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,Z
        ports:
            - 5601:5601
        environment:
            KIBANA_USERNAME: kibana_system
            KIBANA_SYSTEM_PASSWORD: ${KIBANA_SYSTEM_PASSWORD}
            KIBANA_ENCRYPTION_KEY: ${KIBANA_ENCRYPTION_KEY}
            # LOG_LEVEL: verbose
        networks:
            - tester
            # - elastic-network
        depends_on:
            - elasticsearch
        restart: unless-stopped

    filebeat:
        image: docker.elastic.co/beats/filebeat:${ELASTIC_VERSION}
        platform: linux/amd64
        user: root
        command:
            - -e
            - --strict.perms=false
        volumes:
            - ./extensions/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro,Z
            - type: bind
              source: /var/lib/docker/containers
              target: /var/lib/docker/containers
              read_only: true
            - type: bind
              source: /var/run/docker.sock
              target: /var/run/docker.sock
              read_only: true
        environment:
            BEATS_USERNAME: beats_system
            FILEBEAT_USERNAME: filebeat_internal
            FILEBEAT_INTERNAL_PASSWORD: ${FILEBEAT_INTERNAL_PASSWORD}
            BEATS_SYSTEM_PASSWORD: ${BEATS_SYSTEM_PASSWORD}
        networks:
            - tester
            # - elastic-network
        depends_on:
            - elasticsearch
        restart: unless-stopped

networks:
    # elastic-network:
    #     driver: bridge
    tester:
        external: true
# volumes:
#     elasticsearch:
